<h2>Products</h2>

<div class="container">
    <mat-card class="product-card" *ngFor="let product of products">
        <mat-card-title>
            <a 
                [title]="product.name + ' details'"
                [routerLink]="['/products', product.id]">
                {{ product.name }}
            </a>
        </mat-card-title>
        <mat-card-content *ngIf="product.description">
          <p>Description: {{ product.description }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="share()">
                SHARE
            </button>
    
            <button mat-button>
                <app-product-alerts 
                    [product]="product"
                    (notify)="onNotify()">
                </app-product-alerts>
            </button>
        </mat-card-actions>
    </mat-card>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->